.head001{
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: blueviolet;
    width: 100%;
}

.head003{
 
    display: flex;
    margin: 5px;
    margin-top: 20px;
    justify-content: flex-end;
    width: 85%;
    
}

.head004{
  margin: 5px;
  
}

a{
    text-decoration: none;
    color: beige;
}


#conta001, #ont001,#cont002,#cont003, #cont004{
    margin-top: 100px;
}
