.head001{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    margin: auto;
    background: blueviolet;
    width: 100%;
}

.head003{
 
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    
}

.head004{
  margin: 10px;
  
}

a{
    text-decoration: none;
    color: beige;
}



